.taskList{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
}

.critical{
  background-color: rgb(52, 152, 219);
}
.critical-date{
  padding-left: 40px; 
  font-size: 11px;
  color: rgb(238, 238, 238);
  text-shadow: 1px 1px 1px rgba(1,1,1,0.3);
}

.critical-text{
  color: rgb(247, 216, 124);
}

.radiocheck-group{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size-adjust: 0.5;
}
.radiocheck-group input{
  margin: 0;
  margin-right: 10px;
  -webkit-appearance:none;
  display:inline-block;
  vertical-align:bottom;
  width:22px;
  height:24px;
  border:1px #333 solid;
  position:relative;
  z-index:9
}
.radiocheck-group input:focus{
  outline: 0;
}

.radiocheck-group input:checked{
    background-color:#5C97BF;
  }

.radiocheck-group input:checked:after{
  position:absolute;
  top:40%;
  left:50%;
  z-index:10;
  content:"";
  display:block;
  width:11px;
  height:5px;
  transform:translate(-50%, -50%) rotate(-45deg);
  border-left:2px solid #fff;
  border-bottom:2px solid #fff
} 

.taskX{
  color: #e74c3c;
  cursor: pointer;
}

.taskText{
  line-height: 20px;
  font-size: 16px;
}

.date{
  font-size: 11px;
  color: #95A5A6;
  padding-left: 40px; 
}

.expired{
  opacity: .33;
}